@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" class="ui" type="text/css" href="@routes.Assets.at("stylesheets/semantic.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    </head>
    <body id="body">
    @helper.requireJs(core = routes.Assets.at("javascripts/require.min.js").url, module = routes.Assets.at("javascript/main").url)
    </body>
</html>
